<div class="form-group">
    <input 
    [class.is-invalid]='ngControl.touched && ngControl.invalid' 
    [formControl]="ngControl.control" class="form-control" type="{{type}}" placeholder="{{label}}">
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">please enter {{label}}</div>
    <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
        length of {{label}} must at minimum of {{ngControl.control.errors?.minlength['requiredLength']}}
    </div>
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
        length of {{label}} must at maximum of {{ngControl.control.errors?.maxlength['requiredLength']}}
    </div>
    <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
        passwords mismatch
    </div>
</div>